
<!DOCTYPE html>
<head>
   <!-- Compiled and minified CSS -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
   <!-- Compiled and minified JavaScript -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>  
   <style>
        body{
            background-image:url("https://images.pexels.com/photos/311039/pexels-photo-311039.jpeg?auto=compress&cs=tinysrgb&h=350");
        }
   </style>
</head>
<body>
<nav>
    <div class="nav-wrapper blue">
      <a href="/" class="brand-logo">Home Page</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      

        <li><a href="/about-me">me</a></li>
        <li><a href="/about-app">about app</a></li>
        <li><a href="/contact-us">Contact info</a></li>

     
     
      </ul>
    </div>
  </nav>
   <div class="container">
       <h1> WHAT BOOKS!!! </h1></h1>
      
         
         <form action ="/" method ="POST">
         <p>
             Enter a list of books your interested in.
         </p>
          <textarea name="books"></textarea>
          <button type="submit" class="btn"> Submit</button>
        </form>
           
       
       
   </div>
</body>



